:root {
  --very-dark-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 20px;
}

.card {
  display: flex;
  max-width: 730px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
  overflow: visible;
}

.image-section img {
  width: 285px;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 40px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--very-dark-blue);
  margin-bottom: 15px;
}

p {
  font-size: 13px;
  color: var(--dark-blue);
  line-height: 1.6;
  margin-bottom: 25px;
}

.author-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-info img {
  width: 40px;
  border-radius: 50%;
}

.author-info h4 {
  font-size: 13px;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.author-info span {
  font-size: 13px;
  color: var(--gray-blue);
}

.share-btn {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: var(--light-blue);
  cursor: pointer;
  transition: background 0.3s ease;
}

.share-btn.active {
  background: var(--very-dark-blue);
}

.share-btn.active img {
  filter: brightness(0) invert(1);
}

.share-popup {
  position: absolute;
  bottom: 70px;
  right: -110px;

  background: var(--very-dark-blue);
  padding: 15px 30px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 18px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.share-popup.show {
  opacity: 1;
  visibility: visible;
}

.share-popup span {
  font-size: 12px;
  letter-spacing: 4px;
  color: var(--gray-blue);
}

.share-popup img {
  cursor: pointer;
}

.share-popup::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 60px;
  border-width: 12px;
  border-style: solid;
  border-color: var(--very-dark-blue) transparent transparent transparent;
}

/* Mobile */

.mobile-share {
  display: none;
}

@media (max-width: 768px) {

  .card {
    flex-direction: column;
    max-width: 350px;
  }

  .image-section img {
    width: 100%;
    height: 200px;
  }

  .content {
    padding: 30px;
  }

  .share-popup {
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    justify-content: space-between;
  }

  .share-popup::after {
    display: none;
  }


  .mobile-share {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: var(--light-blue);
  }

}
